<div class="container"> 
<div class="row">
<div class="col-lg-12">
<table class="table table-reflow table-bordered">
  <thead>
    <tr>  
      <th>Email</th>
      <th>Creado</th>
      <th>Ultima entrada</th>
      <th>Ip</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr> 
      <td><%= u.email %></td>
      <td><%= u.created_at %></td>  
      <td><%= u.last_sign_in_at %></td> 
      <td><%= u.last_sign_in_ip %></td>    
    </tr>
    <%end%>
   </tbody> 
</table> 