// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar{
    width: 200px;
    height: 200px;
}
.show{
    margin-top: 10px;
    
}
.avatar_index{
    width:30px;
    height:30px;
}
.formulario{
    margin-top: 10px;
}
